#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.lives {
  padding: 0;
}

.card {
  padding: 0;
}

.read-the-docs {
  color: #888;
}

.egg {
  height: 4rem;
  width: 4rem;
}
